@let linkedFormFieldSub = inputFormField();
@let type = linkedFormFieldSub.type;
  @switch(true) {
    @case(type === 'input' || type === 'select' || type ==='textarea') {
      <mat-form-field [style.width]="linkedFormFieldSub?.size ?? '100%'">
        <mat-label>{{ linkedFormFieldSub?.label ?? 'New Input' }}</mat-label>
        @switch (type) {
          @case ('input') {
            <input matInput [placeholder]="linkedFormFieldSub?.placeholder ?? ''">
          }
          @case('select') {
            <mat-select>
              @for (option of linkedFormFieldSub.options; track option.value) {
                <mat-option [value]="option.value"> {{ option.label }} </mat-option>
              }
            </mat-select>
          }
          @case('textarea') {
            <textarea matInput></textarea>
          }
        }
        @if (linkedFormFieldSub.hint ?? false) {
          <mat-hint>{{ linkedFormFieldSub.hint }}</mat-hint>
        }
      </mat-form-field>
    }
    @case(type === 'datepicker') {
      <mat-form-field [style.min-width]="linkedFormFieldSub?.size ?? '100%'">
        <mat-label>{{ linkedFormFieldSub?.label ?? 'New Input' }}</mat-label>
        <input matInput [matDatepicker]="picker" [placeholder]="linkedFormFieldSub?.placeholder ?? ''">
        <mat-datepicker-toggle matIconSuffix [for]="picker" />
        <mat-datepicker #picker />
      </mat-form-field>
    }

    @case(type === 'rangeDatepicker') {
      <mat-form-field [style.width]="linkedFormFieldSub?.size ?? '100%'">
        <mat-label>{{ linkedFormFieldSub?.label ?? 'New Input' }}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        @if (linkedFormFieldSub?.hint ?? false) {
          <mat-hint>{{ linkedFormFieldSub.hint }}</mat-hint>
        }
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker/>
      </mat-form-field>
    }

    @case (type==='buttonToggle') {
        <mat-button-toggle-group [hideSingleSelectionIndicator]="true">
          @for (option of linkedFormFieldSub.options; track option.value) {
            <mat-button-toggle [value]="option.value"> {{ option.label }} </mat-button-toggle>
          }
        </mat-button-toggle-group>
        <div>
          @if (linkedFormFieldSub?.hint ?? false) {
            <mat-hint>{{ linkedFormFieldSub.hint }}</mat-hint>
          }
        </div>
    }
  }




