@use '@angular/material' as mat;

.form-canvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: .25rem;
}

.cdk-drag-preview {
  min-width: fit-content;
  min-height: fit-content;
  padding: .5rem;
  box-sizing: border-box;
  box-shadow: var(--mat-sys-level2);
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
